body {
  padding-top: 50px;
}
.selects {
  margin-bottom: 20px;
}

.vote-buttons button {
	height: 200px;
	font-size: 40pt;
}

.selects .bootstrap-select {
	margin-top: 8px;
	margin-left: 10px;
	margin-bottom: 0px;
}

#canvas {
    width: 800px;
    height: 200px;
    padding: 10px 5px 0 0;
    margin: 15px;
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
