{% extends "base.html" %}
{% block content %}
<h3>Momentum: A Live Feedback Tool</h3>

<div class='selects row'>
  <select class="selectpicker show-tick show-menu-arrow col-xs-5 col-md-3" 
     data-live-search="true" data-size="10" id="voter"
    title="Select participant..">
      {% for voter in voters %}
        <option value="{{ voter.id }}">{{ voter }}</option>
      {% endfor %}
  </select>
  <select class="selectpicker show-tick show-menu-arrow col-xs-5 col-md-3" 
    data-live-search="true" data-size="10" id="discussion"
    title="Select discussion..">
      {% for discussion in discussions %}
        <option value="{{ discussion.id }}">{{ discussion }}</option>
      {% endfor %}
  </select>
</div>
<div class="row">
<div class="vote-buttons col-xs-12 col-md-8 col-lg-7">
  <button type="button" class="btn btn-primary btn-lg btn-block" id="btn-up"><img src="/static/up_arrow.png" alt="Up"></img></button>
  <button type="button" class="btn btn-danger btn-lg btn-block" id="btn-down"><img src="/static/down_arrow.png" alt="Down"></img></button>
</div>
</div>
{% endblock %}
