{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block content %}
    <h3>Results: {{ discussion }}</h3>
    <p>
        Press play to view the momentum results of the discussion on {{discussion}}. 
    </p><p>
        The first recorded vote is at {{ start_time }}, and the fade time used is {{ fade_time }} seconds.
    </p>
    <!--<ul>
        {% for vote in votes %}
            <li>{{ vote }}</li>
        {% endfor %}
    </ul>-->

    <button class="btn btn-success btn-large" id="results-play">Play</button>
    <button class="btn btn-default btn-large" id="results-reset">Reset</button>
    <div id="canvas"></div>

    <script src="/static/jquery.flot.min.js"></script>

    <script>
    $(function() {

      // Parameters of the generated data
      var data_fps = {{ fps }}
      var data_fade_time = {{ fade_time }}

      var FPS = 25.0;
      var FRAMETIME = 1.0 / FPS;
      var frame = 0;

      var container = $("#canvas");

      // Determine how many data points to keep based on the placeholder's initial size;
      // this gives us a nice high-res plot while avoiding more than one point per pixel.

      //var maximum = container.outerWidth() / 2 || 300;

      var m_times = [
        {% for t in m_times %}
          {{ t }},
        {% endfor %}
      ]

      var m_up = [
        {% for m in m_up %}
          {{ m }},
        {% endfor %}
      ]

      var m_down = [
        {% for m in m_down %}
          {{ m }},
        {% endfor %}
      ]

      var values_all = [
        {% for v in values %}
          {{ v }},
        {% endfor %}
      ];

      var times_all = [
        {% for t in times %}
          {{ t }},
        {% endfor %}
      ];

      var time_window = 20;

      var playing = false;

      function getData(up) {

        var t = frame * FRAMETIME;
        var res = [];

        for(var i = 0; i < m_times.length; i++) {

          time = m_times[i] + time_window

          if((time > t) && (time < (t + time_window + 5))) {
            var val = undefined
            if(up == true) {
              res.push([time-t, m_up[i]])
            } else {
              res.push([time-t, m_down[i]])
            }
          }
        }

        return res;
      }

      //

      series = [
      {
        data: getData(true),
        lines: {
          fill: true
        },
        label: "Up",
        color: "#88f"
      },
      {
        data: getData(false),
        lines: {
          fill: true
        },
        label: "Down",
        color: "#f88"
      },
      ];

      var plot = $.plot(container, series, {
        grid: {
          borderWidth: 1,
          minBorderMargin: 15,
          labelMargin: 10,
          backgroundColor: {
            colors: ["#fff", "#e4f4f4"]
          },
          margin: {
            left: 10
          },
        },
        xaxis: {
          ticks: [],//[0.0, 5.0, 10.0, 15.0, 20.0],
          min: 0.0,
          max: time_window,
        },
        yaxis: {
          min: Math.min.apply(Math, m_down),
          max: Math.max.apply(Math, m_up),
        },
        legend: {
          show: true
        }
      });

      setInterval(function update() {
        if (!playing) return;
        series[0].data = getData(true);
        series[1].data = getData(false);
        plot.setData(series);
        plot.draw();
        frame++;
      }, FRAMETIME * 1000);

      $("#results-play").click(function(){
        if(playing) {
          playing = false;
          $('#results-play').html('Play')
        } else {
          playing = true;
          $('#results-play').html('Pause')
        }
      })

      $("#results-reset").click(function(){
        frame = 0;
        series[0].data = getData(true);
        series[1].data = getData(false);
        plot.setData(series);
        plot.draw();
      });

    });



    </script>

{% endblock %}
