{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block content %}
    <h3>Results: {{ discussion }}</h3>
    <p>
        Press play to view the momentum results of the discussion on {{discussion}}. 
    </p><p>
        The first recorded vote is at {{ start_time }} UTC time, and the fade time used is {{ fade_time }} seconds.
    </p>

    <button class="btn btn-success btn-large" id="results-play">Play</button>
    <button class="btn btn-default btn-large" id="results-reset">Reset</button>
    <div id="canvas"></div>

    <script src="/static/jquery.flot.min.js"></script>
    <script src="/static/jquery.flot.navigate.js"></script>

    <script>
    $(function() {

      // Parameters of the generated data
      var data_fps = {{ fps }}
      var data_fade_time = {{ fade_time }}

      var FPS = 25.0;
      var FRAMETIME = 1.0 / FPS;
      var frame = 0;

      var container = $("#canvas");

      var m_times = [
        {% for t in m_times %}
          {{ t }},
        {% endfor %}
      ]

      var m_up = [
        {% for m in m_up %}
          {{ m }},
        {% endfor %}
      ]

      var m_down = [
        {% for m in m_down %}
          {{ m }},
        {% endfor %}
      ]

      var time_window = 20;

      var playing = false;

      up_series = $.map(m_times, function(m_time, idx) {
          return [[m_time, m_up[idx]]]
        });

      down_series = $.map(m_times, function(m_time, idx) {
          return [[m_time, m_down[idx]]]
        });

      //

      series = [
      {
        data: up_series,
        lines: {
          fill: true
        },
        label: "Up",
        color: "#88f"
      },
      {
        data: down_series,
        lines: {
          fill: true
        },
        label: "Down",
        color: "#f88"
      },
      ];

      axis_max = Math.max(-Math.min.apply(Math, m_down), Math.max.apply(Math, m_up))
      plot = $.plot(container, series, {
        grid: {
          borderWidth: 1,
          minBorderMargin: 15,
          labelMargin: 10,
          backgroundColor: {
            colors: ["#fff", "#e4f4f4"]
          },
          margin: {
            left: 10,
            bottom: 5,
          },
        },
        xaxis: {
          ticks: _.range(0, m_times[m_times.length-1]+time_window*2, 5.0),
          min: 0.0,
          max: time_window,
        },
        yaxis: {
          min: -axis_max,
          max: +axis_max,
        },
        legend: {
          show: true,
          position: "sw",
        }
      });

      plot.pan({ left: -$('#canvas').css('width').substring(0, 3)+45, top: 0 });

      /*
      setInterval(function update() {
        
        series[0].data = getData(true);
        series[1].data = getData(false);
        plot.setData(series);
        plot.draw();
        frame++;
      }, FRAMETIME * 1000);
      */

      setInterval(function plotPan() {
        if (!playing) return;
        plot.pan({ left: 1, top: 0 })
        frame++;
      }, FRAMETIME * 1000);

      $("#results-play").click(function(){
        if(playing) {
          playing = false;
          $('#results-play').html('Play')
        } else {
          playing = true;
          $('#results-play').html('Pause')
        }
      });

      $("#results-reset").click(function(){
        plot.pan({ left: -frame, top: 0 });
        frame = 0;
      });

    });



    </script>

{% endblock %}
