{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block content %}
    <h3>Results: {{ discussion }}</h3>
    <p>
        Press play to view the experiment results of the discussion on {{discussion}}. 
    </p><p>
        The first recorded vote is at {{ start_time }}.
    </p>
    <!--<ul>
        {% for vote in votes %}
            <li>{{ vote }}</li>
        {% endfor %}
    </ul>-->

    <button class="btn btn-primary btn-large" id="results-play">Play</button>
    <button class="btn btn-danger btn-large" id="results-reset">Reset</button>
    <div id="placeholder"></div>

    <script src="/static/jquery.flot.min.js"></script>
    <script>
    $(function() {

      var FPS = 25.0;
      var FRAMETIME = 1.0 / FPS;
      var frame = 0;

      var container = $("#placeholder");

      // Determine how many data points to keep based on the placeholder's initial size;
      // this gives us a nice high-res plot while avoiding more than one point per pixel.

      //var maximum = container.outerWidth() / 2 || 300;

      var values_all = [
        {% for v in values %}
          {{ v }},
        {% endfor %}
      ];

      var times_all = [
        {% for t in times %}
          {{ t }},
        {% endfor %}
      ];

      var time_window = 20;

      var playing = false;

      function getData() {

        var t = frame * FRAMETIME;

        var values = [];
        var times = [];

        for(var i = 0; i < values_all.length; i++) {
          value = values_all[i]
          time = times_all[i] + time_window
          if((time > t) && (time < (t + time_window + 5))) {
            values.push(value)
            times.push(time)
          }
        }

        for(var i = 0; i < times.length; i++) {
          times[i] -= t
        }

        // zip the generated y values with the x values
        var res = [];
        //res.push([times[0], 0])
        for (var i = 0; i < values.length; ++i) {
            res.push([times[i], values[i]])
        }
        return res;
      }

      //

      series = [{
        data: getData(),
        lines: {
          fill: true
        },
        label: "Rating"
      }];

      var plot = $.plot(container, series, {
        grid: {
          borderWidth: 1,
          minBorderMargin: 20,
          labelMargin: 10,
          backgroundColor: {
            colors: ["#fff", "#e4f4f4"]
          },
          margin: {
            top: 8,
            bottom: 20,
            left: 20
          },
          markings: function(axes) {
            var markings = [];
            var xaxis = axes.xaxis;
            for (var x = Math.floor(xaxis.min); x < xaxis.max; x += xaxis.tickSize * 2) {
              markings.push({ xaxis: { from: x, to: x + xaxis.tickSize }, color: "rgba(232, 232, 255, 0.2)" });
            }
            return markings;
          }
        },
        xaxis: {
          //tickFormatter: function() {
          //  return "";
          //}
          ticks: [0.0, 5.0, 10.0, 15.0, 20.0],
          min: 0.0,
          max: time_window,
        },
        yaxis: {
          min: -1.0,
          max: +1.0,
        },
        legend: {
          show: true
        }
      });

      // Create the demo X and Y axis labels

      var yaxisLabel = $("<div class='axisLabel yaxisLabel'></div>")
        .text("Rating")
        .appendTo(container);

      var xaxisLabel = $("<div class='axisLabel xaxisLabel'></div>")
        .text("Time window (s)")
        .appendTo(container);

      // Since CSS transforms use the top-left corner of the label as the transform origin,
      // we need to center the y-axis label by shifting it down by half its width.
      // Subtract 20 to factor the chart's bottom margin into the centering.

      yaxisLabel.css("margin-top", yaxisLabel.width() / 2 - 20);

      setInterval(function update() {
        if (!playing) return;
        series[0].data = getData();
        plot.setData(series);
        plot.draw();
        frame++;
      }, FRAMETIME * 1000);

      $("#results-play").click(function(){
        if(playing) {
          playing = false;
          $('#results-play').html('Play')
        } else {
          playing = true;
          $('#results-play').html('Pause')
        }
      })

      $("#results-reset").click(function(){
        frame = 0;
        series[0].data = getData();
        plot.setData(series);
        plot.draw();
      });

    });



    </script>

{% endblock %}
